body{
  margin: 0;
  color: #000;
  font-family: "Poppins", sans-serif;
}
*,*::before,*::after{
  box-sizing: border-box;
}

a:visited{
  color: black;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

.container{
  width: 1138px;
  margin: auto;
}

.grid{
  position: absolute;
  width: 1140px;
  margin: auto;
  min-height: 100%;
  border: 1px solid #000;
  z-index: 3;
  left: 50%;
  pointer-events: none;
  transform: translateX(-50%);
}

.page{
  position: relative;
  min-height: 100%;
}
.blur{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255,0.6);
  z-index: -1;
  &.active{
    z-index: 4;
  }
}
.yellow-circle{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #FFA501;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  &.center{
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.to-first-plane{
  position: relative;
  z-index: 2;
}
/*promo*/
.promo-block{
  color: black;
  background: url("images/Background.jpg") center ;
  height: 800px;
  width: 100%;
  position: relative;
}

/*header*/
.header__text-block{
  padding-top: 200px;
  position: relative;
  z-index: 2;
}
.title-name{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding-left: 15px;
  position: relative;
}
.title-text{
  margin-top: 15px;
  font-weight: 700;
  width: 532px;
  font-size: 48px;
  line-height: 60px;
}
.promo__btn-block{
  display: flex;
  margin-top: 25px;
}
.btn{
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-weight: 700;
  font-size: 14px;
  width: 135px;
  height: 45px;
  line-height: 21px;
  transition: all linear 0.3s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  &:hover{
    background: #FFA501;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.promo-social__container{
  position: absolute;
  transform: rotate(-90deg);
  width: 338px;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  left: -338/2+50px;
  top: 50%;
  display: flex;
}
.promo-social__text{
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.promo-social__line{
  height: 2px;
  width: 70px;
  background-color: black;
}

/*burger menu*/
%menu-items{
  background-color: black;
  height: 3px;
  position: absolute;
  content: "";
  right: 0;
  width: 30px;
}
.burger-menu{
  width: 36px;
  height: 21px;
  position: absolute;
  right: 30px;
  top: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 3;
}
.menu-item{
  width: 100%;
  background-color: black;
  height: 3px;
  &:after{
    @extend %menu-items;
    bottom: 0;
  }
  &:before{
    @extend %menu-items;
    top: 0;
  }
}

/*navigation*/
.nav-block{
  position: fixed;
  background-color: #FFA501;
  left: -350px;
  top: 0;
  width: 345px;
  height: 100%;
  min-height: 500px;
  z-index: 5;
  display: flex;
  align-items: center;
  transition: all linear 0.2s;
  &.active{
    left: 0;
  }
}
.nav-close{
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 24px;
}
.nav-list{
  list-style-type: circle;
}
.nav-item{
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 15px;
  & a{
    line-height: 36px;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
  }
}
.nav-social{
  position: absolute;
  bottom: 50px;
  left: 50%;
  width: 90px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  transform: translateX(-50%);
  & a {
    font-size: 20px;
  }
}

/*Experience*/
.section{
  margin: 120px 0;
}
.section:last-child{
  margin-bottom: 0;
}
.section-header{
  text-align: center;
  position: relative;
  padding-bottom: 22px;
  &:after{
    content: " ";
    width: 60px;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFA501;
  }
}
.section-header__description{
  position: relative;
  z-index: 2;
  line-height: 24px;
  & h3{
    font-weight: 700;
    font-size: 16px;
  }
}
.section-header__title{
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
}
.section-info{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0 64px;
  width: 100%;
}
.section-info__column{
  width: 41%;
  position: relative;
}
.exp-tree{
  position: absolute;
  top: 9px;
  left: 0;
}
.section-info__column-title{
  padding-left: 42px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
.section-info__column-block{
  margin: 45px 0 50px;
  padding-left: 50px;
}
.column-block-header{
  padding-left: 56px;
  position: relative;
}
.column-block-header-name{
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.column-img{
  position: absolute;
  left: 17px;
  top: 14px;
  z-index: 2;
  &.correction{
    top: 17px;
  }
}
.column-block-header-subtext{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.column-block-text{
  margin-top: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

/*form section*/
.form-section{
  display: flex;
  justify-content: space-between;
  padding: 0 34px 91px 51px;
}
.form-block{
  width: 55%;
}
.form-block-header{
  position: relative;
  &:after{
    content: " ";
    width: 60px;
    height: 3px;
    position: absolute;
    bottom: -3px;
    left: 30px;
    transform: translateX(-50%);
    background-color: #FFA501;
  }
}
.form-block-header__description{
  position: relative;
  z-index: 2;
  padding-left: 13px;
  margin-bottom: 6px;
  & h3{
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
  }
}
.form-block-header__title{
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
}
.form-media-title{
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin: 20px 0;
}
.form-media-items{
  font-size: 30px;
  text-decoration: none;
  height: 30px;
  display: flex;
  width: 135px;
  justify-content: space-between;
  & i{
    position: relative;
    top: -6px;
  }
}
.form-label{
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  margin: 20px 0 30px;
}
.form-input-block{
  position: relative;
}
.form-first-line{
  display: flex;
}
.form-input{
  border: 1px solid #000;
  border-radius: 0;
  padding: 13px 19px;
  width: 280px;
  height: 45px;
  margin: 0 25px 30px 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  &:focus{
    outline: none;
  }
}
.input-label{
  display: block;
  padding: 0 8px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 12px;
  background-color: white;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  transform: translateY(-50%);

}
.form-textarea{
  resize: none;
  padding: 13px 19px;
  width: 585px;
  height: 190px;
  border: 1px solid black;
  margin-bottom: 34px;
  &:focus{
    outline: none;
  }
}
.btn-form{
  background-color: #FFA501;
  width: 219px;
  height: 45px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.form-checkbox{
  border: 1px solid #000;
  border-radius: 0;
  display: inline-block;
  height: 36px;
}
.input-checkbox-label{
  display: inline-block;
  margin-left: 10px;
  height: 36px;
}
.form-checkbox-block{
  display: none;
  width: 100%;
  height: 70px;
  position: relative;
  text-align: center;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin: 0 auto;
  & a{
    color: #2306D6;
    text-decoration: none;
  }
}

/*validation style*/
.not-correct{
  color: red;
  position: absolute;
  font-size: 12px;
  bottom: 8px;
  left: 0;
  width: 100%;
}
.form-checkbox-block{
  & .not-correct{
    text-align: center;
  }
}

@media (max-width: 1300px) {
  .promo-social__container{
    display: none;
  }
}
@media (max-width: 1140px){
  .container{
    padding: 0 10px;
    width: 100%;
  }
  .form-input{
    width: 220px;
  }
  .form-textarea{
    width: 465px;
  }
  .form-block {
    width: 50%;
  }
  .form-section {
    padding: 0 34px 91px 25px;
  }
  .grid{
    display: none;
  }
}
@media (max-width: 1030px){
  .section-info__column {
    width: 48%;
  }
}
@media (max-width: 950px){
  .form-section{
    display: flex;
    justify-content: space-around;
    & img{
      display: none;
    }
  }
  .form-block{
    width: 585px;
  }
  .form-textarea{
    width: 585px;
  }
  .form-input{
    width: 280px;
  }
}
@media (max-width: 895px){
  .section-info__column {
    width: 60%;
  }
  .section-info {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 750px) {
  .section-info__column {
    width: 75%;
  }
}
@media (max-width: 630px) {
  .section-info__column {
    width: 85%;
  }
  .form-first-line{
    flex-direction: column;

  }
  .form-input {
    width: 100%;
  }
  .form-block {
    width: 100%;
  }
  .form-textarea {
    width: 100%;
  }
  .form-checkbox-block{
    display: flex;
  }
  .btn-form{
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 570px){
  .title-text{
    font-weight: 700;
    font-size: 37px;
    line-height: 39px;
  }
  .title-text{
    width: 92%;
  }
  .section-info__column {
    width: 100%;
  }
}
@media (max-width: 510px){
  .section-info{
    padding: 0;
  }
  .section-info__column {
    width: 90%;
  }
}
@media (max-width: 440px){
  .title-text{
    font-size: 26px;
    line-height: 39px;
    width: 92%;
  }
  .promo-block{
    height: 640px;
    background: url("images/Background2.png") center;
    background-size: cover;
  }
  .section-info__column {
    width: 100%;
  }
  .column-block-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
  .nav-block{
    width: 250px;
  }
  .form-section {
    padding: 0 0 91px 0;
  }
  .form-input {
    margin-right: 0;
  }
}
@media (max-width: 378px){
  .section-info__column-block{

    &:nth-child(3){
      margin: 45px 0 35px;
    }
    &:last-child{
      margin: 0 0 50px;
    }
  }
}
@media (max-width: 346px){
  .exp-tree{
    height: 373px;
  }
  .column-img {
    top: 20px;
  }
  .section-info__column-block:nth-child(3){
    margin: 45px 0 40px;
  }
  .section-info__column-block.first {
    margin: 45px 0 25px;
  }
}

@media (max-width: 346px){
  .section-info__column-block:nth-child(3){
    margin: 45px 0 22px;
  }
  .section-info__column-block.first {
    margin: 45px 0 0;
  }
  .section {
    margin: 30px 0;
  }
}